<div class="container p-3">
  <h2>Stupid Coaching</h2>
  <div class="d-flex">
    <form action="/answer" data-turbo="false">
    <div class="input-group my-3">
        <input type="text" name="question" id="question" class="form-control" placeholder="What's your question?">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Ask!</button>
        </div>
    </div>
    </form>
  </div>
</div>
